@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.footer{
  background: linear-gradient(rgb(53, 60, 101)75%,rgb(44, 49, 84)25%);



   .container {
     max-width: 1200px;
     padding: 0 15px;
     margin: 0 auto;
   }

  .footer-wrapper__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 71px 0;

  }

  .footer-wrapper__top__left {
    width: calc(33.3% - 30px / 3);
    display: flex;
    flex-direction: column;

  }

  .footer-wrapper__top__middle {
    width: calc(33.3% - 30px / 3);
  }

  .footer-wrapper__top__right {
    width: calc(33.3% - 30px / 3);
  }

  .footer-wrapper__top__left__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 29px;
  }

  .footer-wrapper__top__left__text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
  }

  .footer-wrapper__top__middle__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 49px;
  }

  .footer-wrapper__top__middle__social {
    display: flex;
    justify-content: center;
    gap: 27px;
  }

  .footer-wrapper__top__right__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 29px;
  }

  .footer-wrapper__top__right__text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
  }

  .footer-wrapper__bottom__text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(128, 128, 128);
    padding: 24px 0;
    width: 370px;
    margin: 0 auto;
  }
  span {
    color: rgb(255, 255, 255);
  }

}

@media (max-width: 1200px){
  .footer{
    .footer-wrapper__top {
      gap: 20px;
      padding: 46px 0 41px;
    }
    .footer-wrapper__top__left {
      width: calc(33.3% - 20px / 3);
    }
    .footer-wrapper__top__middle {
      width: calc(33.3% - 20px / 3);
    }

    .footer-wrapper__top__right {
      width: calc(33.3% - 20px / 3);
    }

    .footer-wrapper__top__left__title {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 18px;
    }
    .footer-wrapper__top__left__text {
      font-size: 14px;
      line-height: 16px;
    }
    .footer-wrapper__top__middle__title {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 32px;
    }
    .footer-wrapper__top__middle__social {
      gap: 23px;
    }
    .footer-wrapper__top__right__title {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 15px;
    }
    .footer-wrapper__top__right__text {
      font-size: 14px;
      line-height: 16px;
    }
    .footer-wrapper__bottom__text {
      font-size: 14px;
      line-height: 16px;
      padding: 14px 0;
      width: 314px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px){

  .footer{
    background: linear-gradient(rgb(53, 60, 101)85%,rgb(44, 49, 84)15%);
    .container {
      padding: 0 20px;
    }
    padding: 34px 0px 28px;
    .footer-wrapper__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 46px 0 41px;
    }
    .footer-wrapper__top__left {
      width:100%;
    }
    .footer-wrapper__top__middle {
      width:100%;
    }

    .footer-wrapper__top__right {
      width:100%;
    }

    .footer-wrapper__top__left__title {
      padding-bottom: 34px;
    }
    .footer-wrapper__top__left__text {
      width: 100%;
      margin-bottom: 69px;
    }
    .footer-wrapper__top__middle__title {
      width: 100%;
      padding-bottom: 36px;
    }
    .footer-wrapper__top__middle__social {
      gap: 16.77px;
      margin-bottom: 59px;

    }
    .footer-wrapper__top__right__title {
      padding-bottom: 38.71px;
      width: 100%;
    }
    .footer-wrapper__top__right__text {
      padding-bottom: 33px;
      width: 100%;
    }
    .footer-wrapper__bottom__text {
      padding: 0;
      width: 100%;
      margin: 0 auto;
    }
  }
  .footer-wrapper__top__middle__social img{
    width:33px ;
    height: 33px;
  }
}