
@media (max-width: 768px) {
  .team{
    padding: 35px 20px 41px;
    .team-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 56px;
      .team_card{
        width:100%;
        display: flex;
       flex-wrap: nowrap;
      }
    }

    .team_card__title{
      width: 100%;
    }
    .team_card__subtitle{
      width: 100%;
    }

    .team_card__text{
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      margin: 38px 0 55px ;
    }

  }
  .team-img{

    width: 100%;
    height: 100%;
  }
}
