@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.team{
  padding: 114px 0;

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}
  .team-wrapper{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    width:calc(100% - 30px / 4);
  }

.team_card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team_card__title{
  color: rgb(45, 48, 51);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-transform: capitalize;
  margin: 30px 0 5px;

}

.team_card__subtitle{
  color: rgb(255, 67, 67);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
 text-transform: uppercase;
}

.team_card__text{
  color: rgb(108, 114, 121);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 18px 0 38px ;
}

  .team_card__social{
    column-gap: 5px;
  }
  .team_card__social__frameF{
    padding: 10px 14px;
    border: 1px solid silver;
  }
  .team_card__social__frameT{
    padding: 11px 10px 11px 9px;
    border: 1px solid silver;
  }
  .team_card__social__frameL{
    padding: 10px 11px 10px 10px;
    border: 1px solid silver;
  }
  .team_card__social__frameF:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(255, 67, 67);
    background: rgb(255, 67, 67);
    transition: all 0.7s ease-in-out;
  }

  .team_card__social__frameT:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(69, 76, 164);
    background: rgb(10, 19, 199);
    transition: all 0.7s ease-in-out;
  }

  .team_card__social__frameL:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(106, 213, 89);
    background: rgb(26, 155, 6);
    transition: all 0.7s ease-in-out;
  }
}

@media (max-width: 1200px){
  .team{
    padding: 78px 0;
    .team-wrapper{
      gap: 25px;
      .team_card{
        width:100%
      }
    }

    .team_card__title{
      width: 227px;
      font-size: 18px;
      line-height: 21px;
      margin: 25px 0 5px;
    }
    .team_card__subtitle{
      width: 227px;
      font-size: 14px;
      line-height: 16px;
    }

    .team_card__text{
      width: 227px;
      font-size: 14px;
      line-height: 16px;
      margin: 22px 0 39px ;
    }

  }
  .team-img{

    width: 100%;
    height: 227px;
  }
}
@media (max-width: 1024px){
  .team {
    padding: 78px 0;

    .team-wrapper {
      column-gap: 15px;
      width: calc(100% - 15px / 4);

      .team_card {
        width: 200px;
      }
    }
  }
}


@media (max-width: 960px){
  .team {
    padding: 78px 0;

    .team-wrapper {
      column-gap: 4px;
      width: calc(100% - 4px / 4);

      .team_card {
        width: 165px;
      }
    }
    .team_card__title{
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      margin: 18px 0 5px;
    }
    .team_card__subtitle{
      width: 100%;
      font-size: 12px;
      line-height: 12px;
    }

    .team_card__text{
      width: 227px;
      font-size: 12px;
      line-height: 14px;
      margin: 16px 0 18px ;
    }

  }
  .team-img{

    width: 100%;
    height: 100%;
  }
}


