@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.team{
  padding: 114px 0;

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}
  .team-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }


.team_card__title{
  color: rgb(45, 48, 51);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-transform: capitalize;
  margin: 30px 0 5px;

}

.team_card__subtitle{
  color: rgb(255, 67, 67);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
 text-transform: uppercase;
}

.team_card__text{
  color: rgb(108, 114, 121);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 18px 0 38px ;
}

  .team_card__social{
    column-gap: 6px;
  }
  .team_card__social__frameF{
    padding: 10px 14px;
    border: 1px solid silver;
  }
  .team_card__social__frameT{
    padding: 11px 10px 11px 9px;
    border: 1px solid silver;
  }
  .team_card__social__frameL{
    padding: 10px 11px 10px 10px;
    border: 1px solid silver;
  }
  .team_card__social__frameF:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(255, 67, 67);
    background: rgb(255, 67, 67);
    transition: 0.3s;
  }

  .team_card__social__frameT:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(69, 76, 164);
    background: rgb(10, 19, 199);
    transition: 0.3s;
  }

  .team_card__social__frameL:hover{
    z-index: 1;
    box-shadow: 4px 4px 30px 0px rgb(106, 213, 89);
    background: rgb(26, 155, 6);
    transition: 0.3s;
  }
}

